<p><img src="images/logo-arrow.png" height="13"/> is an interactive visualization that strives to compare the 
    prices of <img src="images/airbnb-logo.png" height="11"/> listings with <img src="images/trulia-logo.png" height="11"/>  
    estimates to see price markups in San Francisco. 

<p><img src="images/airbnb-logo.png" height="11"/> is an online platform that enables people to rent houses or rooms, 
    while <img src="images/trulia-logo.png" height="11"/> is a real estate website that, among others, lists 
    estimated rental prices for a given area. 
    
<p>With our visualization, a tourist can make a better-informed decision 
    on where they choose to live and avoid being a victim of price gouging. Residents of San Francisco can 
    understand the presence of <img src="images/airbnb-logo.png" height="11"/> units and their prices across different neighborhoods. 
    An analyst, can study how different factors may affect the markup value of a listing. 
    Finally, potential hosts can have a baseline comparison for pricing their rentals.

<p>Designed and developed by:
<ul>
    <li>Sajid Anwar</li>
    <li>Lusenii Kromah</li>
    <li>Lorina Navarro</li>
    <li>Tara Ramanan</li>
</ul>