<p>This pane shows us the number of listings currently selected. 
    It also displays the average Airbnb daily rental price and average estimated Trulia daily rental price for these listings.

<p>Amenities available to these listings are displayed in the grid below. 
    Each amenity is represented by a square in the grid. 
    The deeper the color of the square, the more listings under the current selection, that have this amenity. 
    You can click on a square (or shift+click multiple squares) to find listings that have all those amenities.