<p>This pane shows us the number of listings currently selected. 
    It also displays the average <img src="images/airbnb-logo.png" height="11" /> daily rental price 
    and average estimated <img src="images/trulia-logo.png" height="11" /> daily rental price for these listings.

<p>Amenities available to these listings are displayed in the grid below. 
    Each amenity is represented by a square in the grid. 
    The deeper the color of the square, the more of the listings that have this amenity. 
    
<ul>
    <li>If only one listing is selected, click the <span class="internal-link">View Listing</span> link
        to view it on the <img src="images/airbnb-logo.png" height="11" /> website.
    <li>You can click on an amenity square to find listings that have all that amenity.
    <li>You can <span class="keyboard">Shift + Click</span> to select multiple amenities.
</ul>