<p>
    The price and markup blocks show the distribution of <img src="images/airbnb-logo.png" height="11" /> 
    daily rental price as well as markup for the current selection. The blocks are sized by the number of listings in that range. 


<ul>
    <li>You can click on a block to reveal the individual listings inside, 
        as well as to highlight those listings in the scatter plot.

    <li>You can click on an individual listing within a selected block &mdash; for example, a price block &mdash; to 
        find its corresponding value on the markup block.

    <li>You can <span class="keyboard">Shift + Click</span> to select multiple price blocks or markup blocks.
</ul>