<p>You can use this scatter plot to see the correlation between the markup of a listing and various attributes. 
<ul>
    <li>
        View individual listings or aggregate them into neighborhoods. 
        When viewing neighborhoods, the size of the circle represents the number of <img src="images/airbnb-logo.png" height="11" /> listings in that neighborhood.
    </li>
    <li>
        Use the dropdown menu along the horizontal axis to choose an attribute to plot against the markup.
    </li>
    <li>
        Zoom in and out using scroll controls, and pan around using <span class="keyboard">Alt + Drag</span>.
    </li>
    <li>
        You can <span class="keyboard">Shift + Click</span> to select multiple listings or neighborhoods.
        You may also drag over a region to select all listings or neighborhoods under it.
    </li>
</ul>
