<p>This area describes the current overall selection (shift+selection) you make across the panes. 
    Here you can see Listings present in:


<p>[LISTED NEIGHBORHOODS] that fall in [LISTED PRICE RANGES] approximately marked up by [LISTED MARKUP] having all the following [LISTED AMENITIES].


<p>Click the USE AS FILTER option to save your selection as a filter below, and eliminate all the listings outside of this selection from your view.
    Use RESET option to remove all selections and return to default.
