html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section {
  flex: 1;
  padding: 5px;
}

.section div.title {
  flex: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12pt;
  text-align: left;
  color: #555;
}

.section div.content {
  height: 100%;
  flex: 1;
}

#section-top {
  border-bottom: 1px solid #ccc;
  padding: 0;
}

#section-bottom {
  flex: 0;
  height: 200px;
}

#map {
  border-right: 1px solid #ccc;
}

#quadrants {
  border-right: 1px solid #ccc;
}

#panel-right {
  max-width: 350px;
  padding: 0;
}

#options {
  border-bottom: 1px solid #ccc;
}

#details {

}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: start;
}