html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section {
  flex: 1;
  padding: 5px;
}

.section div.title {
  flex: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12pt;
  text-align: left;
  color: #555;
}

.section div.content {
  height: calc(100% - 18px);
  flex: 1;
  position: relative;
}

.section div.content div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.section div.content div.overlay > div {
  position: absolute;
  pointer-events: auto;
}

#section-top {
  border-bottom: 1px solid #ccc;
  padding: 0;
}

#listing-blocks {
  flex: 0;
  height: 200px;
}

#map {
  border-right: 1px solid #ccc;
}

#quadrants {
  border-right: 1px solid #ccc;
}

.quadrant-lines line {
  stroke-width: 1px;
  stroke: #ccc;
}

.quadrant-labels text {
  alignment-baseline: hanging;
  font-size: 12px;
  fill: #888;
  text-transform: uppercase;
}

.drag-selection {
  fill: rgba(255, 100, 100, 0.02);
  stroke: rgba(0, 0, 0, 0.8);
  stroke-width: 1;
  stroke-dasharray: 5, 5;
}

#panel-right {
  max-width: 350px;
  padding: 0;
}

#filters {
  border-bottom: 1px solid #ccc;
}

.filter-neighborhoods {
  padding: 0;
  margin: 10px;
}

.filter-neighborhoods div {
  font-size: 12px;
  padding: 5px 8px 5px 5px;
  background: #d8d8d8;
  cursor: pointer;
  float: left;
  margin: 3px;;
}

.filter-neighborhoods div:before {
  content: 'ï½˜';
  color: #777;
  padding-right: 5px;
}

#details #price, #rating, #common_amenities, #common_words, #amount {
  color:#ff1d23;
}

.chart .axis-label text {
  font: 12px sans-serif;
  text-anchor: middle;
}

p{
      display: inline;
}